@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
}

main {
    padding-top: 80px;
    background-color: #EDEDED;
}

.logo {
    margin: 10px;
    width: 100px;
}

.avatar {
    margin: 15px;
    border-radius: 50%;
    width: 35px;
}

.post {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
}

.post-header {
    display: flex;
    flex-direction: row;
}

.post-header--avatar {
    width: 36px;
    border-radius: 50%;
}

.post-avatar {
    align-self: center;
    margin-right: 17px;
    margin-left: 10px;
}

.post-header--nickname {
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.post-header--geo {
    margin-top: 5px;
    font-size: 12px;
}

.post-photo {
    width: 100%;
    max-width: 375px;
}

.post-interact {
    display: flex;
}

.post-interact ul {
    list-style: none;
    display: flex;
    margin-left: 12px;
    padding-left: 0px;
}

.post-interact li {
    margin-right: 20px;
}

.post-interact img {
    width: 30px;
}

.post-counter {
    margin: 0 13px ;
    font-weight: 800;
}

.post-comments {
    margin: 0 13px;
    padding-bottom: 15px;
}

.post-comment-nickname {
    font-weight: 800;
}
